<form action="/login" method="post">
    <div>
        <label for="name">Register Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="c-password"> confirm Password:</label>
        <input type="c-password" id="password" name="password" required>
    </div>
    <div>
        <input type="register-submit" value="Submit">
    </div>
</form>