<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="justify-content: center; display: flex;">
        <h1>About Page</h1>
    </div>
    <div style="justify-content: center; display: flex;">
        <a href="/">Home</a> &nbsp; &nbsp;
        <a href="/about">About</a> &nbsp; &nbsp;
        <a href="/con">Contact</a>&nbsp;&nbsp;
    </div>
</body>

</html>